#!/usr/bin/make -f
#export DH_VERBOSE=1
include /usr/share/dpkg/pkg-info.mk

export QT_SELECT = qt6

%:
	dh $@ --parallel --buildsystem=qmake6

override_dh_auto_configure:
	dh_auto_configure -- DEFINES+="VERSION=$(DEB_VERSION_UPSTREAM)"

override_dh_install:
	dh_install
